@font-face {
  font-family: "iconfont"; /* Project id 3684051 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1754644229471') format('woff2'),
       url('iconfont.woff?t=1754644229471') format('woff'),
       url('iconfont.ttf?t=1754644229471') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wakatime:before {
  content: "\e81d";
}

.icon-yuanshen-wa:before {
  content: "\e603";
}

.icon-feishu:before {
  content: "\e612";
}

.icon-OneDrive:before {
  content: "\e60d";
}

.icon-Fusion:before {
  content: "\e60f";
}

.icon-typst:before {
  content: "\e6ed";
}

.icon-log:before {
  content: "\e602";
  font-size: 23px;
}

.icon-RSS:before {
  content: "\e78a";
  font-size: 20px;
}

.icon-dianzikeji:before {
  content: "\e60c";
}

.icon-beijingdaxue:before {
  content: "\e63d";
}

.icon-tongzhi1:before {
  content: "\e62e";
  font-size: 20px;
  margin-right: 4px;
}

.icon-chengjidan:before {
  content: "\e613";
  font-size: 22px;
}

.icon-chengjidan1:before {
  content: "\e83e";
  font-size: 26px;
}

.icon-github7:before {
  content: "\e63a";
}

.icon-email1:before {
  content: "\e66f";
}

.icon-email2:before {
  content: "\e76b";
  font-size: 22px;
}

.icon-wechat-:before {
  content: "\e621";
  font-size: 20px;
}

.icon-github:before {
  content: "\ea0b";
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0;
}

.icon-QQ1:before {
  content: "\e667";
  font-size: 20px;
}

.icon-icon-test:before {
  content: "\e604";
}

.icon-logo_gitee_g_red:before {
  content: "\e607";
}

.icon-bokeyuan1:before {
  content: "\e608";
}

.icon-QQ2:before {
  content: "\ea94";
}

.icon-gitee1:before {
  content: "\e616";
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0;
}

.icon-cnblogs:before {
  content: "\e60a";
  font-size: 20px;
}

.icon-zhihu:before {
  content: "\e635";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-bilibili-copy:before {
  content: "\e600";
}

.icon-zhihu3:before {
  content: "\ea8b";
}

.icon-csdn1:before {
  content: "\e601";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-bilibili1:before {
  content: "\e606";
}

.icon-huggingface:before {
  content: "\e624";
}

.icon-drxx67:before {
  content: "\e702";
}

.icon-bijiben1:before {
  content: "\e627";
}

.icon-shijian:before {
  content: "\e68c";
}

.icon-wenjianjia:before {
  content: "\e60b";
}

.icon-tongjibaobiao:before {
  content: "\e62a";
}

.icon-icon:before {
  content: "\e64c";
}

.icon-biaoqian:before {
  content: "\e610";
}

.icon-pcl {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('https://lzhms.oss-cn-hangzhou.aliyuncs.com/images/blog/profile/202412212345583.png'); /* 图像链接 */
  background-size: contain; /* 使图像适配宽高 */
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-bottom: 8px;
}